*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#order-section{
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.container{
  width: 100%;
  margin: 0 70px 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-order {
  box-shadow: 1px 2px 5px #ccc;
  width: 400px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order{
  border: 1px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
}

.clicked {
  background-color: rgb(42, 250, 0);
}
.order:hover {
  cursor: pointer;
}

.nameItem, .price {
  padding: 10px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #0077ff;
  color: #ffffff;
}